# ----Python Environments----

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/

# -----OS-----
.DS_Store
Thumbs.db

#----Data----
data/*
!data/.gitkeep
!data/raw/
!data/evaluation/
!data/processed/

#----Models----
models/*
!models/.gitkeep
!models/adapters/

#----logs----
logs/*
!logs/.gitkeep

#----MLFlow----
mlruns/

#----Notebooks----
.ipynb_checkpoints/

#----Build Artifacts----
build/
dist/
*.egg-info/

#----Docker----
*.log

#----Testing----
.coverage
htmlcov/
.pytest_cache/

setup.ps1
requirements.txt